/* CSS page */

body {
    background-color: rgb(245, 136, 161);
    text-align: center;
    font-family: Georgia, serif;
    padding: 35px;
}

h1 {
    color: #CC313D;
}

nav {
    margin-bottom: 20px;
}

nav button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #CC313D;
    color: white;
    border-radius: 12px;
    font-family: Georgia;
    cursor: pointer;
    transition: 0.2s;
}

/* cards = content boxes*/
.card {
    
    background-color: #ffbec9;
    padding: 15px;
    margin: 15px auto;
    border-radius: 15px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

img {
    border-radius: 12px;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border: 3px solid #CC313D;
}

#installBtn {
    background-color: white;
    color: #CC313D;
    border: 2px solid #CC313D;
    padding: 10px 15px;
    border-radius: 12px;
    font-family: Georgia;
    cursor: pointer;
    margin-bottom: 15px;
}

a {
    color: #CC313D;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
